<%= render "babies/header" %>
<main class="main">
  
  <div class="i-yourbabies">
    <p>~YOUR BABIES~</p>
  </div>
  <% if user_signed_in? %>
    <div class="i-cards-wrapper">
      <div class="i-cards">
        <% @baby.each do |baby| %>
          <div class="i-card">
            <a href="/babies/<%= baby.id %>" class="i-showlink">
              <div class="i-card-contents">
                <div class="i-baby-image">
                  <%= image_tag baby.image, class:"i-baby-image" %>
                </div>
                <div class="i-baby-info">
                  <p>おなまえ：<%= baby.name %></p>
                  <p>せいべつ：<%= baby.gender.name %></p>
                  <p>おたんじょうび：<%= baby.birthday %></p>
                </div>
              </div>
            </a>
            <div class="i-baby-edit">
              <div class="i-edit-button">
                <%= link_to "編集する", edit_baby_path(baby), class:"i-edit" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
      <div class="i-not-login">
        <div class="not-signin">
          <p>ログイン後に表示されます</p>
        </div>
      </div>
  <% end %>
</main>
<%= render "babies/footer"%>