<h1>子どもの新規登録ページ</h1>

<%= form_with model: @baby, local: true do |f| %>
<%= render 'error_messages', model: f.object %>

<p>画像</p>
<%= f.file_field :image, id:"baby-image" %>
<p>名前</p>
<%= f.text_area :name, class:"baby-text", id:"baby-name", placeholder:"おなまえ" %>
<p>性別</p>
<%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"gender-select"}) %>
<p>生年月日</p>
<div class='input-birth-wrap'>
      <%= raw sprintf(
                  f.date_select(
                    :birthday,
                    class:'select-birth',
                    id:"birth-date",
                    use_month_numbers: true,
                    prompt:'--',
                    start_year: 2015,
                    end_year: (Time.now.year + 1),
                    date_separator: '%s'),
                  "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
</div>

<%= f.submit "登録" ,class:"btn" %>
<%= link_to "戻る", root_path %>

<% end %>