<header>
  <div class="header">
    <div class="header-logo">
      <%= link_to "Logo", root_path, class:"logo" %>
    </div>
    <div class="header-parts">
      <% if user_signed_in? %>
        <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"header-part" %>
        <%= link_to "My Page", babies_path, class:"header-part" %>
        <%= link_to "New Baby", new_baby_path, class:"header-part" %>
        <%= link_to "Baby Edit", edit_baby_path(@baby), class:"header-part" %>
      <% else %>
        <%= link_to "New Registration", new_user_registration_path, class:"header-part" %>
        <%= link_to "Log In", new_user_session_path, class:"header-part" %>
      <% end %>
    </div>
  </div >
</header>
<main>
  <div class>
  <div class="baby-image">
    <%= image_tag @baby.image.variant(resize: '250x250') %>
  </div>
    <div class="baby-info">
      <p>おなまえ:<%= @baby.name %></p>
      <p>おたんじょうび：<%= @babybirth %></p>
    </div>
  </div>
  <div class="monthes">
    <div class="month">
      <p>0ヶ月</p>
      <p><%= "#{@baby.birthday}" %></p>
    </div>
    <div class="month">
      <p>1ヶ月</p>
      <p><%= "#{@baby.birthday + 30}" %></p>
    </div>
    <div class="month">
      <p>2ヶ月</p>
      <p><%= "#{@baby.birthday + 60}" %></p>
    </div>
    <div class="month">
      <p>3ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>4ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>5ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>6ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>7ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>8ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>9ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>10ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>11ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>12ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>15ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>18ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>21ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>24ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>36ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>48ヶ月</p>
      <p>◯月△日</p>
    </div>
    <div class="month">
      <p>60ヶ月</p>
      <p>◯月△日</p>
    </div>
  </div>
  <p>ヒブ</p>
    <p>小児肺炎球菌</p>
    <p>ロタウイルス（２回接種）</p>
    <p>ロタウイルス（３回接種）</p>
    <p>四種混合</p>
    <p>BCG</p>
    <p>麻疹風疹混合</p>
    <p>水疱瘡</p>
    <p>日本脳炎</p>
    <p>おたふく風邪</p>
  <div>
  </div>
</main>